# Copyright 2021 The Edge Brain Authors. All Right Reserved.

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# some default option
build --experimental_repo_remote_exec

# Use our custom-configured c++ toolchain.
build:clang_config --crosstool_top=//third_party/toolchain:clang_suite
build:clang_config --cpu=k8
build:clang_config --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

build:rpi --crosstool_top=//third_party/toolchain:respi_clang_suite
build:rpi --cpu=armhf
build:rpi --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

# TF settings
build:elinux --crosstool_top=@local_config_embedded_arm//:toolchain
build:elinux --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:elinux_armhf --config=elinux
build:elinux_armhf --cpu=armhf

# Coral settings
build:coral --define darwinn_portable=1
build:coral --linkopt=-lusb-1.0
#bazel:coral --crosstool_top=@crosstool//:toolchains
#bazel:coral --compiler=gcc
#bazel:coral --compilation_mode=opt
#bazel:coral --copt=-std=c++14
#bazel:coral --copt=-ffp-contract=off
#build:coral --cpu=aarch64
#bazel:coral --verbose_failures
#build:coral --experimental_repo_remote_exec
#build:coral --linkopt=-l:libusb-1.0.so
